<app-navbar></app-navbar>

<div class="container-wrapper">
    <div class="container">
        <h1>Reset Your Password</h1>
        
        <div *ngIf="!resetSuccess">
            <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                <div class="form-group">
                    <input 
                        type="password" 
                        id="newPassword" 
                        formControlName="newPassword" 
                        placeholder="New Password" 
                        required>
                    <div class="error" *ngIf="resetForm.get('newPassword')?.invalid && (resetForm.get('newPassword')?.dirty || resetForm.get('newPassword')?.touched)">
                        <div *ngIf="resetForm.get('newPassword')?.errors?.['required']">Password is required</div>
                        <div *ngIf="resetForm.get('newPassword')?.errors?.['minlength']">Password must be at least 8 characters long</div>
                        <div *ngIf="resetForm.get('newPassword')?.errors?.['maxlength']">Password cannot be longer than 100 characters</div>
                        <div *ngIf="resetForm.get('newPassword')?.errors?.['pattern']">Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <input 
                        type="password" 
                        id="confirmPassword" 
                        formControlName="confirmPassword" 
                        placeholder="Confirm Password" 
                        required>
                    <div class="error" *ngIf="resetForm.get('confirmPassword')?.errors?.['passwordMismatch'] && (resetForm.get('confirmPassword')?.dirty || resetForm.get('confirmPassword')?.touched)">
                        <div>Passwords do not match</div>
                    </div>
                </div>
                
                <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
                
                <button type="submit" [disabled]="resetForm.invalid">Reset Password</button>
            </form>
        </div>
        
        <div class="final-message" *ngIf="resetSuccess">
            <p>Password has been reset successfully. You can now <a (click)="redirectToLogin()">login</a>.</p>
        </div>
    </div>
    <div class="login-background">
      <div class="shape shape-1"></div>
      <div class="shape shape-2"></div>
      <div class="shape shape-3"></div>
      <div class="shape shape-4"></div>
  </div>
    
    <div class="house-decoration">
        <div class="house house-1"></div>
        <div class="house house-2"></div>
        <div class="house house-3"></div>
        <div class="house house-4"></div>
        <div class="house house-5"></div>
        <div class="house house-6"></div>
    </div>
</div>