<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <div class="logo" (click)="redirectToHome()">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="url(#gradient)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <defs>
                <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%">
                    <stop offset="0%" style="stop-color:#E8B384" />
                    <stop offset="100%" style="stop-color:#C87941" />
                </linearGradient>
            </defs>
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            <polyline points="9 22 9 12 15 12 15 22"></polyline>
        </svg>
        <span class="logo-text">3D House Builder</span>
    </div>
      
    </div>
    <div class="navbar-right">
      <button class="burger-menu" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div [class.visible]="menuOpen" class="navbar-links">
        <a (click)="redirectToGallery()" class="navbar-link">GALLERY</a>
        <a (click)="redirectToSuggestions()" class="navbar-link">AI SUGGESTIONS</a>
        <a *ngIf="isLoggedIn" (click)="redirectToDashboard()" class="navbar-link">PROFILE</a>
        <a *ngIf="isLoggedIn" (click)="logout()" class="navbar-link">LOGOUT</a>
        <a *ngIf="!isLoggedIn" (click)="redirectToLogin()" class="navbar-link login-link">LOGIN</a>
      </div>
    </div>
  </div>
</nav>